.default-button {
    background-color: #512685;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.default-button:hover {
    background-color: #6a3e9e;
}

.add-button {
    background-color: #72de0e;
    color: black;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #a3f23e;
}

.delete-button {
    background-color: #f23e3e;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    width: fit-content;

}

.delete-button:hover {
    background-color: #e40808;
}

.edit-link-button {
   border:0;
    background-color:transparent;
    color: #512685;
    text-decoration: none;
    cursor: pointer;
}

.edit-link-button:hover {
    color: #502e77;
    background-color: #e9e9ea;
}