html {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #512685;
}

a:hover {
    color: #6a3e9e;
}

input {
    font-size: 0.8rem;
    padding: 6px;
    border: 1px solid #512685;
    border-radius: 1px;
}

.property-table {
    width: 100%;
    border-collapse: collapse;
}

.property-table th {
    background-color: #512685;
    color: white;
    padding: 8px;
    text-align: left;
}

.property-table td {
    padding: 4px;
}