html {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #512685;
}

a:hover {
    color: #6a3e9e;
}

textarea {
    font-size: 0.8rem;
    padding: 6px;
    border: 1px solid #512685;
    border-radius: 1px;
    height: 50%;
}

input {
    font-size: 0.8rem;
    padding: 6px;
    border: 1px solid #512685;
    border-radius: 1px;
}

.input-addnote {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #512685;
    border-radius: 4px;
    box-sizing: border-box;
    height: 50%;
}

/* TABLE */

.property-table {
    width: 100%;
    border-collapse: collapse;
}

.property-table th {
    background-color: #512685;
    color: white;
    padding: 8px;
    text-align: left;
}

.property-table td {
    padding: 4px;
}

.property-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Modal */
.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .ReactModal__Content {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    max-width: 20rem;
  }

  .ReactModal__Content textarea {
    height: 100px;
  }

  .note-card {
    width: 99%;
    font-size: smaller;
    background-color: #f2f2f2;
    border: 1px solid #512685;
    border-radius: 2px;
    padding: 0.4rem;
    margin: 0.5rem 0;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: row;
  }

  .note-info {
    width: 20%;
    display: flex;
    flex-direction: column;
  }

  .note-info-row {
    margin: 4px 0; /* Adjust as needed */
    padding: 0; /* Adjust as needed */
    font-size: small;
  }

  .subnotes {
    width: 70%;
    background-color: #f2f2f2;
    border: 1px solid #512685;
    border-radius: 2px;
    padding: 0.4rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .subnote-table {
    width: 100%;
    border-collapse: collapse;
  }

    .subnote-table th {
        background-color: #512685;
        color: white;
        padding: 4px;
        text-align: left;
    }

    .subnote-table td {
        padding: 0.4% 0.2%;
        
    }

    .subnote-table tr:nth-child(even) {
        background-color: #ebf9df;
    }

